// Zdena Omaha Beach
.about-banner
  background-image: url("https://res.cloudinary.com/dnwbnhdof/image/upload/c_scale,w_auto/dpr_auto/v1706023166/IMG_1406_oibzlg.jpg")

// mont saint michel
.about-image1
  background-image: url("https://res.cloudinary.com/dnwbnhdof/image/upload/c_scale,w_auto/dpr_auto/v1706023185/IMG_1579_hqqxsn.jpg")

// Luca a Filip na Kanarech zady
.about-image2
  background-image: url("https://res.cloudinary.com/dnwbnhdof/image/upload/c_scale,w_auto/dpr_auto/v1706023199/IMG_2023_01_18-17_40_44_3950_9DC5A4B6_megwhn.jpg")
