.form-container
  background-color: #d6d6d6
  padding: 100px 0

.form
  display: flex
  flex-direction: column
  gap: 1rem
  align-items: center

  .form-item
    display: flex
    flex-direction: row
    gap: 1rem
    align-items: center

    .form-btn
      padding: 1.5rem
      cursor: pointer
      background-color: #417a89
      color: white
      border: 1px solid #417a89
      border-radius: 25px
      font-size: 1.2rem

    textarea
      width: 500px
      height: 50vh
      padding: 10px

.preview-images-container

  li
    cursor: grabbing

.main-image-preview
  position: relative
  width: 300px
  margin: auto

  button
    position: absolute
    right: 0
    cursor: pointer
    z-index: 2

.form-error
  color: red

.form-header
  padding: 70px 0 20px