.App
  text-align: center
  position: relative
  min-height: 100vh
  // max-width: 1790px
  margin: auto
  letter-spacing: .36px

.wrap-container
  padding-bottom: 2.5rem

a
  color: #000000
  text-decoration: none

p
  font-size: 17px
  line-height: 1.6em

h2
  margin: 0
  padding: 0

.banner
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  opacity: 0.9
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.banner-headline
  color: white
  font-size: 4rem
  font-weight: 400
  text-transform: uppercase

.banner-subheadline
  color: white

.content
  // max-width: 1450px
  margin: auto

.text-container
  max-width: 1050px
  margin: auto
  padding: 50px 16.6% 50px 8%

  @media only screen and (max-width: 480px)
    padding: 3rem 0

.text-content
  text-align: left
  max-width: 750px
  margin: auto
  padding: 0 17px 17px

::-moz-selection /* Code for Firefox */
  color: white
  background: black

::selection
  color: white
  background: black

p a
  position: relative
  overflow: hidden
  text-decoration: none
  color: black
  &::after
    content: ""
    background: rgba(#f9b862, 0.25)
    position: absolute
    left: 12px
    bottom: -6px
    width: calc(100% - 8px)
    height: calc(100% - 8px)
    z-index: -1
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05)
      
hr
  border-top: 1px solid black

.images-container
  display: flex
  flex-wrap: wrap
  gap: 10px
  list-style-type: none
  padding: 1rem

  li
    height: 300px
    cursor: pointer
    position: relative
    flex-grow: 1
    flex: 1 1 auto

    img
      object-fit: cover
      width: 100%
      height: 100%
      vertical-align: middle
      border-radius: 5px

.navigation-sticky
  position: fixed
  top: 0
  width: calc(100% - 2rem)
  animation-duration: 0.7s
  animation-name: fadeInDown
  animation-timing-function: ease-out
  background-color: rgba(255,255,255, 0.9)
  backdrop-filter: blur(5px)
  box-shadow: rgba(81, 102, 121, 0.1) 0px 1px 0px
  ///box-shadow: 0 0 5px 10px rgba(255,255,255, 0.6)

  a.nav-link, span.nav-link, span.nav-logo a
    color: black
    font-weight: 400

  div.hamburger div
    background-color: black

@keyframes fadeInDown
  0%
    opacity: 0
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(0)